.heading{
    text-align: left;
    font-size: 17px;
    color: white;
    margin-top: 50px;

}
.column{
    float: left;
    padding: 5px;
    height: 220px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.circles{
  height:220px;
  width: 200px;
  margin-left: -10px;
  margin-top: 10px;
  background-color: white;
  width: 340px;
}
.circles ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.circles li{


}
.circles li:hover{


}
