<div class="heading">Circles
         <button mat-icon-button matTooltipPosition="right"  (click)="openDialog()">
        <mat-icon style="font-size:20px; text-align:center;" color="white">
            <b>Add</b>
        </mat-icon>
    </button>
</div>
<div class="column">
    <div class="circles">
        <ul>
            <li *ngFor="let circle of circles" (click)="selectCircle(circle.circleName)">
                <i>{{circle.circleName}}</i>
            </li>
        </ul>

    </div>
</div>
