<div class="container">

    <div class="title">Welcome to Chat App - Login Page</div><br>

    <form #formRef="ngForm" (ngSubmit)="logform(formRef)">

      <input id="username" name="username" [(ngModel)]="username" placeholder="username" class="email" type="text" required><br>
      <input id="password" name="password" [(ngModel)]="password" placeholder="password" class="password" type="password" required><br>
      <button type="submit" class="button">Log in</button><br>

      <br>
      <button href="#" routerLink="register" class="button">Register</button>
    </form>    
</div>
