<body>

    <div class='heading'>
        <div>Chat Application<div style="float:right">
                <div id="buttons">
                  <a href="#" (click)="signout()" class="btn green">Log out</a>
                </div>
            </div></div>

    </div>
    <div class="column left">
      <div style="color:white"><b><i> Hi {{User}}</i></b></div>        

        <div>
            <app-user (selectedUser)="onSelect($event)"></app-user>
        </div>
        <div>
            <app-circle (selectedCircle)="onSelect($event)"></app-circle>
        </div>
    </div>

    <div class="column middle" style="margin-bottom:5%">
        <app-message [messageObj]="currentSelected"></app-message>
    </div>
</body>
