mat-card {
    background-color: #34B45F;
    position: fixed;
    bottom: 0%;
    width: 80%;
    padding: 5px;
    margin-left: 2%;
}

.example-full-width {
    width: 95%;
  }

  .example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .speech-bubble {
      position: relative;
     background: #d1d1d1;
      border-radius: .4em;
      width:auto;
     }

.speech-bubble:after
{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-right-color: #d1d1d1;
    border-left: 0;
    margin-top: -33px;
    margin-left: -33px;
        }

        /* Button */
        #buttons {
          padding-top: 50px;
          text-align: center;
        }

        /* start da css for da buttons */
        .btn {
          border-radius: 5px;
          padding: 15px 25px;
          font-size: 22px;
          text-decoration: none;
          text-align: justify;
          margin-top: -40px;
          height:40px;
          color: #fff;
          position: relative;
          display: inline-block;
          float: right;
        }

        .btn:active {
          transform: translate(0px, 5px);
          -webkit-transform: translate(0px, 5px);
          box-shadow: 0px 1px 0px 0px;
        }

        .green {
          background-color: #2ecc71;
          box-shadow: 0px 5px 0px 0px #15B358;
        }

        .green:hover {
          background-color: #48E68B;
        }
