<div>
    <div *ngIf="type == 'user'">
        <span style="text-align:center;">
            <h2 style="margin:0px">{{reciever}}</h2>
        </span>
    </div>
    <div *ngIf="type == 'circle'">
        <span style="text-align: center;">
            <h2 style="margin:0px">{{circle}} <button mat-icon-button color="#34B45F" (click)="openDialog()">
                <mat-icon style="font-size:20px; text-align:center">
                    <b>+</b>
                </mat-icon>
            </button></h2>
        </span>
    </div>


    <div class="messageArea">
        <ul style="list-style-type: none; margin-left: -15px;">
            <li *ngFor="let msg of messages">
                <div *ngIf="type == 'user'">

                    <div *ngIf="msg.senderName == loggedInUser" style="text-align:right;position: relative;
                    background: #8cf49b;
                     border-radius: .4em;
                     padding:5px;margin:5px">
                    <span style=" font-family:  Roboto,'Helvetica Neue',sans-serif;color:cornflowerblue">You</span>  <br>
                     {{msg.message}}
                    </div>
                    <div *ngIf="msg.senderName != loggedInUser" style="text-align:left; position: relative;
                    background: #d1d1d1;
                     border-radius: .4em;
                     padding:5px;margin:5px"><span style="font-family:Roboto,'Helvetica Neue',sans-serif;color:firebrick">{{msg.senderName}}</span><br>
                        {{msg.message}}
                    </div>
                </div>
                <div *ngIf="type == 'circle'">
                    <div *ngIf="msg.senderName == loggedInUser" style="text-align:right;position: relative;
                    background: #8cf49b;
                     border-radius: .4em;
                     padding:5px;margin:5px"> <span style=" font-family:  Roboto,'Helvetica Neue',sans-serif;color:cornflowerblue">You</span><br>
                     {{msg.message}}

                </div>
                    <div *ngIf="msg.senderName != loggedInUser" style="text-align:left; position: relative;
                    background: #d1d1d1;
                     border-radius: .4em;
                     padding:5px;margin:5px"><span style="font-family:Roboto,'Helvetica Neue',sans-serif;color:firebrick">{{msg.senderName}}</span><br>
                        {{msg.message}}
            </div>
                </div>

            </li>
        </ul>

    </div>
    <mat-card>
        <div>
            <div style="float:left;width:90%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Message" type="text" [(ngModel)]='message'>
                </mat-form-field>
            </div>
            <div style="margin:5px">
                 <button mat-raised-button (click)="onClick(message, type)" type="button" color="green">
                     <i>
                         <b>Send</b>
                     </i>
                 </button>
             </div>
        </div>
    </mat-card>


</div>
