<div class="heading">Direct Chat</div>
<div class="column">
    <div class="users">
        <ul>
            <li *ngFor="let user of users"
            (click)="selectUser(user.name)">
                {{user.name}}
            </li>
        </ul>
    </div>
</div>
