.heading {
    border-style: solid;
    border-color:rgb(175, 175, 175);
    font-size: 40px;
    color: #34B45F;
    font-stretch: expanded;
    text-align: center;
    background-color:#272A2F;
    width: 100%;
    height:70px;
    position: fixed;

}
*{
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;

}

.column{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    float: left;
    padding: 10px;
    height: 520px;
}

.column.left{
    position: fixed;
    float: left;
    height: 100%;
    width: 17%;
    background-color:#272A2F;

}

.column.middle{
    float: right;
    margin-top:60px;
    width: 83%;
    height: 70%;
}



/* Button */
#buttons {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  text-align: justify;
  margin-top: -80px;
  height:40px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}


.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}


/* Toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 50px;
  margin-left: 20 px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
