

  <form #addCircleForm="ngForm" (ngSubmit)="createCircle(addCircleForm)" style="color:white">
    <div class="container">
      <h2>Create Circle</h2>
      <br>
      <input matInput type="text" id="circlename" placeholder="Enter Channel Name" name="circlename" [(ngModel)]="circlename" required>
      <div class="clearfix">
        <button type="submit" class="signupbtn">Create</button>
      </div>
    </div>
  </form>
