<div>

  <mat-form-field>
    <mat-select placeholder="Select Member" [(value)]="selected">
      <mat-option *ngFor="let user of users" [value]="user.name">
        {{user.name}}

      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="34B45F" type="button" (click)="addMember(selected)">Add Member</button>

</div>
