/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body{
    background-color: ghostwhite;
    margin: 0px;
}