
<div class="container">

    <div class="title">Welcome to Chat App - Registration </div><br>

    <form #regForm="ngForm" (ngSubmit)="registerUser(regForm)">

      <input class="email" id="username" placeholder="Enter Username" name="username" [(ngModel)]="username" required><br>
      <input class="email" type="text" id="name" placeholder="Enter name" name="name" [(ngModel)]="name" required><br>
      <input class="email" type="password" id="password" placeholder="Enter Password" name="password" [(ngModel)]="password"><br>

      <br>
      <button href="#" type="submit"  class="button">Register</button>

      <a routerLink="">
        <button href="#" class="button">Cancel</button>
      </a>

   </form>
</div>
